@import url('https://fonts.googleapis.com/css2?family=Space+Mono:wght@400;700&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

.hackerText {
    border-radius: clamp(0.4rem, 0.75vw, 1rem);
}

html {
    scroll-behavior: smooth;
}

.animate-spin-speed-override {
    animation-duration: 3s;
}

.filter-white {
    filter: invert(87%) sepia(100%) saturate(0%) hue-rotate(178deg) brightness(111%) contrast(105%);
}