@tailwind base;
@tailwind components;
@tailwind utilities;
@import "prism.css";

.hackerText {
    border-radius: clamp(0.4rem, 0.75vw, 1rem);
}

html {
    scroll-behavior: smooth;
}

.animate-spin-speed-override {
    animation-duration: 3s;
}

.filter-white {
    filter: invert(95%) sepia(10%) saturate(70%) hue-rotate(182deg) brightness(98%) contrast(89%);
}

.prose :where(li):not(:where([class~="not-prose"] *)) {
    margin-top: 0;
    margin-bottom: 0;
}